<img src=""></img>

<h1> <%= @board_data[:upath] %> - <%= @board_data[:name] %> </h1>
<form action="/create_op" enctype="multipart/form-data" method="POST">
    <label> username: <input type="text-area" name="name" value="Anonymous" /> </label>
    <br>
    <label> subject: <input type="text-area" name="subject" /> </label>
    <br>
    <textarea name="content" rows="6" cols="50" />Post...</textarea>
    <input type="hidden" name="board" value="<%= @board_data[:id] %>" />
    <br>
    <input name="file" type="file" />
    <br>
    <input type="submit" name="submit" value="New OP" />
</form>
<% @page_data.each do |op, posts| %>
    <div id="op_post">
    <% op_post = Gemchan::Post.find(op) %>
    <div id="info">
    <%= op_post[:name] %>
    <a href="#<%= op_post[:id] %>"><%= op_post[:id] %></a> <%= op_post[:created_at] %>
    </div>
    <div id="media">
    <% if op_post.media != nil %>
    <% imgpiece = op_post.media.split('.') %>
    <a href='<%= op_post.media %>'><img src="<%= imgpiece[0]+'.thumb.'+imgpiece[1] %>"/></a>
    <% end %>
    </div>
    <div id="content" >
    <a href="<%= @route %>/<%= op_post[:id] %>"><%= op_post[:subject] %></a>
    <br>
    <%= op_post[:content] %>
    </div>
    <a href="<%= @route %>/<%= op_post[:id] %>">view</a>
    </div>
    <br>
    <% if posts != nil then %>
<% posts.each do |post| %>
    <% unless post.id == op %>
    <div id="post">
        <div id="info">
            <a href="#<%= post[:id] %>"><%= post[:id] %></a> <%= post[:created_at] %>
        </div>
        <% if post.media != nil %>
        <div id="media">
            <% imgpiece = post.media.split('.') %>
            <a href='<%= post.media %>'><img src="<%= imgpiece[0]+'.thumb.'+imgpiece[1] %>"/></a>
        </div>
        <% end %>
        <div id="content">
            <%= post[:content] %>
        </div>
    </div>
    <br>
    <% end %>
<% end %>
<% end %>
<% end %>
