<%= erb :nav %>
<%= erb :header %>
<%= erb :postbox %>

<% @page_data.each do |op, posts| %>
    <div id="op_post">
    <% op_post = Gemchan::Post.find(op) %>
    <div id="info">
    <%= op_post[:name] %>
    <a href="#<%= op_post[:id] %>"><%= op_post[:id] %></a> <%= op_post[:created_at] %>
    </div>
    <div id="media">
    <% if op_post.media != nil %>
    <% imgpiece = op_post.media.split('.') %>
    <a href='<%= op_post.media %>'><img src="<%= imgpiece[0]+'.thumb.'+imgpiece[1] %>"/></a>
    <% end %>
    </div>
    <div id="content" >
    <a href="<%= @route %>/<%= op_post[:id] %>"><%= op_post[:subject] %></a>
    <br>
    <%= op_post[:content] %>
    </div>
    <a href="<%= @route %>/<%= op_post[:id] %>">view</a>
    </div>
    <br>
    <% if posts != nil then %>
<% posts.each do |post| %>
    <% unless post.id == op %>
    <div id="post">
        <div id="info">
            <a href="#<%= post[:id] %>"><%= post[:id] %></a> <%= post[:created_at] %>
        </div>
        <% if post.media != nil %>
        <div id="media">
            <% imgpiece = post.media.split('.') %>
            <a href='<%= post.media %>'><img src="<%= imgpiece[0]+'.thumb.'+imgpiece[1] %>"/></a>
        </div>
        <% end %>
        <div id="content">
            <%= post[:content] %>
        </div>
    </div>
    <br>
    <% end %>
<% end %>
<% end %>
<% end %>
