
<table id="forms">
<form action="<%= @action_url %>" enctype="multipart/form-data" method="POST">
    
    <tr>
            <td> username: <input type="text-area" name="name" value="Anonymous" /> </td>
    </tr>
    <% unless @is_news %>
        <tr>
            <td> email: <input type="text-area" name="email" value="Anonymous" /> </td>
        </tr>
        <input type="hidden" name="board" value=" <%= @board_id %>" />
        <% if @is_thread %>
            <input type="hidden" name="op" value="<%= @op_id %>" />
        <% end %>
    <% end %>
    <tr>
        <td> subject: <input type="text-area" name="subject" /> </td>
    </tr>
    <th>
    <textarea name="content" rows="6" cols="50"
    <% unless @is_news %> 
        maxlength=<%=Gemchan::ChanController::configurations[:max_post_size]%>
    <% end %> 
    />Post...</textarea>
    </th>
    <tr>
    
    <td>
    <input name="file" type="file" />
    <% if @recaptcha %>
    <%= invisible_recaptcha_tags text: 'Post' %>
    <% else %>
    <input type="submit" name="submit" value="Post" />
    <% end %>
    </td>
    </tr>
</form>
</table>
