<form action="/reply" enctype="multipart/form-data" method="POST">
    <textarea name="content" rows="6" cols="50" />Post...</textarea>
    <input type="hidden" name="board" value=" <%= Gemchan::InfoCache::boards_dict[params[:board]] %>" />
    <input type="hidden" name="op" value="<%= params[:pid] %>" />
    <input name="file" type="file" />
    <br>
    <input type="submit" name="submit" />
</form>
<div id="op">
<div id="info"
<a href="#<%= @op[:id] %>"><%= @op[:id] %></a> <%= @op[:created_at] %>
</div>
<%= @op[:content] %>
</div>
<% if @posts != nil then %>
<% @posts.each do |post| %>
    <div id="post">
    <div id="info">
    <% if post.media != nil %>
    <img src="<%= post.media %>"/>
    <% end %>
    <a href="#<%= post[:id] %>"><%= post[:id] %></a> <%= post[:created_at] %>
    </div>
    <%= post[:content] %>
    </div>
<% end %>
<% end %>
